[submodule "Dependencies/magic_enum"]
	path = Dependencies/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "Dependencies/Array"]
	path = Dependencies/Array
	url = https://github.com/hannes-harnisch/Array
[submodule "Dependencies/concurrentqueue"]
	path = Dependencies/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "Dependencies/D3D12MemoryAllocator"]
	path = Dependencies/D3D12MemoryAllocator/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "Dependencies/FixedList"]
	path = Dependencies/FixedList
	url = https://github.com/hannes-harnisch/FixedList
[submodule "Dependencies/VulkanMemoryAllocator"]
	path = Dependencies/VulkanMemoryAllocator/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Dependencies/tinyobjloader"]
	path = Dependencies/tinyobjloader/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
